<a onclick="main_set('/client_dz','nav-1')">
        <div class="card">
            <div class="card-body bd-gray">
                <div class="row ">
                    <h3 class="col-6 ">
                        <span class="badge badge-primary">
                        {{dropzone.name}}
                        </span>
                    </h3>
                    <div class="col-3 ">
                        <span class='badge {{registration_colours[registration.current][0]}} {{ registration_colours[registration.current][1]}} p-1 '> {{registration_status[registration.current]}} </span>
                    </div>
                    <div class="col-3 ">
                        <span class="badge {% if dropzone.status == 0 %}badge-success   {% else %}badge-warning {% endif %} p-1">
                        {{dropzone_status[dropzone.status]}} </span>
                    </div>
                </div>
            </div>
        </div>
</a>
{% block main %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="row justify-content-between">
            <th scope="col-4"></th>
            <th scope="col-4">Name</th>
            <th scope="col-4">Jumps Remaining</th>
        </tr>
        </thead>
        <tbody id="scroll-table">
                    {% for key, sale in sales.iteritems() %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col">
                                    {{loop.index}}
                                </div>
                                <div class="col">
                                    {{sale.details.name}}
                                </div>
                                <div class="col">
                                    {{sale.free}}
                                </div>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
</div>

{% endblock %}