{% if message %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{message.title}}</h5>
    <p class="card-text">{{message.body}}</p>
    <a href="#" class="card-link" onclick="main_set('/client_dz','nav-1')">Back</a>
  </div>
</div>

{% else %}

{% for dropzones in reg_mega %}
{% set registration = dropzones[0] %}
{% set dropzone = dropzones[1] %}

    <div class="card">
        <div class="card-body bg-primary text-white">
            <div class="row ">
                <h3 class="col-6 ">
                    <span class="badge badge-primary">
                    {{dropzone.name}}
                    </span>
                </h3>
                <div class="col-3">
                    <tr>
                        <td>
                            <span class="badge {% if dropzone.status == 0 %}badge-success   {% else %}badge-warning {% endif %} ">
                            {{dropzone_status[dropzone.status]}} </span>
                        </td>
                        <td>
                            <button class="badge badge-success " onclick="main_set('/client/manifest?dropzone={{dropzone.key.id()}}','nav-1')" >Manifest</button>
                        </td>

                    </tr>
                </div>
                <div class="col-3">
                    <tr>
                        <td>
                            <span class='badge {{registration_colours[registration.current][0]}} {{ registration_colours[registration.current][1]}} '> {{registration_status[registration.current]}} </span>
                        </td>
                        <td>
                            <button class="badge badge-success " onclick="main_set('/client/account?dropzone={{dropzone.key.id()}}', 'nav-1')" >Account</button>
                        </td>
                    </tr>
                </div>

                </div>
            </div>
        </div>

    {% endfor %}
{% endif %}

