
<a onclick="main_set('/client/manifest?dropzone={{dropzone.key.id()}}','nav-1')">
        <div class="card">
            <div class="card-body ">
                <div class="row ">
                    <div class="col-6">
                        <h3>
                            <span class="badge badge-primary">
                            {{dropzone.name}}
                            </span>
                        </h3>
                        <h4 class='col-6'> <span class="badge badge-primary">Load {{load.number}}</span> </h4>
                    </div>
                    <div class="col-3">
                        <tr>
                            <td>
                                <span class="badge {% if dropzone.status == 0 %}badge-success   {% else %}badge-warning {% endif %} ">
                                {{dropzone_status[dropzone.status]}} </span>
                            </td>
                            <td>
                                <span class="badge badge-secondary">{{load.time.strftime("%H:%M")}} </span>
                            </td>
                            <td><span class="badge badge-secondary">Free : {{ slotsize[load.key.id()] }}</span></td>
                        </tr>
                    </div>
                    <div class="col-3">
                        <tr>
                            <td>
                                <span class='badge {{registration_colours[registration.current][0]}} {{ registration_colours[registration.current][1]}} '> {{registration_status[registration.current]}} </span>
                            </td>
                            <td>
                                <span class=" badge {{load_colours[load.status][0]}} {{load_colours[load.status][1]}} p-1">{{load_status[load.status]}}</span>
                            </td>
                            <td>
                                <form id="manifest"method="post">
                        <input type="hidden" name="dropzone" value="{{dropzone.key.id()}}">
                        <input type="hidden" name="load" value="{{load.key.id()}}">
                        <input type="hidden" name="action" value="add">
                </form>
                <button class="badge badge-outline-success" onclick="new_submit('manifest', '/client/load')">Manifest</button>
                            </td>
                        </tr>
                    </div>
                </div>



        </div>
            </div>
        </div>
</a>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="row justify-content-between">
            <th scope="col-4"></th>
            <th scope="col-4"></th>
        </tr>
        </thead>
        <tbody id="scroll-table">
                    {% for slot in slots %}
                    <tr>
                        <td>
                            <div class="card">
                                <div class="card-body bg-primary text-white">
                                    <h6 class="card-title">
                                        <div class="row">
                                            <div class="col">
                                                {{loop.index}}
                                            </div>
                                            <div class="col">
                                                {{slot.name}}
                                            </div>
                                        </div>
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <form  method="post" id="delete">
                                <input type="hidden" name="dropzone" value="{{dropzone.key.id()}}">
                                <input type="hidden" name="load" value="{{load.key.id()}}">
                                <input type="hidden" name="action" value="delete">
                            </form>
                            <button class="btn btn-outline-warning" onclick="new_submit('delete', '/client/load')">Remove</button>
                            <div class="btn-group dropright">

                                    <button type="button" class="btn btn-primary">
                                        Change Package
                                    </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropright</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for key, sale in sales.iteritems() %}
                                        <form  method="post" id="change_sales_{{key}}">
                                            <input type="hidden" name="dropzone" value="{{dropzone.key.id()}}">
                                            <input type="hidden" name="load" value="{{load.key.id()}}">
                                            <input type="hidden" name="action" value="change_sales">
                                        </form>
                                        <button class="dropdown-item" onclick="new_submit('change_sales_{{key}}', '/client/load')">{{sale.details.name}}</button>
                                        {% endfor %}
                                    </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
</div>
