{% extends "template2.html" %}
{% set user = user_data['user'] %}
{% block title %}
Jump Client
{% endblock %}

{% block script %}
{% include 'scripts.html' %}
{% if user %}

{% endif %}
<script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
            google_init()
        })
    </script>
{% endblock %}

{% block navbar_left %}
    <ul class="navbar-nav">
        <li class="nav-item {% if active == 0 %}active {% endif %}">
            <a class="nav-link" href="/client">Home</a>
        </li>
        <li class="nav-item {% if active == 2 %}active {% endif %}">
            <a class="nav-link" href="/client?action=account">Account</a>
        </li>
        <li class="nav-item {% if active == 3 %}active {% endif %}">
            <a class="nav-link" href="/client/config">Config</a>
        </li>
    </ul>
{% endblock %}

{% block navbar_centre %}
{% endblock %}


{% block main_exist %}
{% if user %}
<main class="col">
                  {% block main %}{% endblock %}
              </main>

{% endif %}
{% endblock %}

