{% extends "client.html" %}

{% block title %}
    Client Configuration
{% endblock %}

{% block main %}
    <form action="/client/config" method="get">
     <input type="hidden" name="action" value="update">
     <div class="form-group ">
      <label class="control-label requiredField" for="name">
       Name
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name" name="name" type="text" value="{{jumper.name}}"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" type="email" value="{{jumper.email}}"/>
      <span class="help-block" id="hint_email">
       Must be gmail
      </span>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
{% endblock %}