{% extends "manage.html" %}
{% block title %}
Manage DZ Configurations
{% endblock %}

{% block sidebar %}
<form action="/newdz" method="post">
    <button class='btn btn-primary' name="New Dropzone" type="submit">New Dropzone</button>
</form>
{% endblock %}

{% if dropzone.key.id != None %}

{% block main %}
<div class="row">
    <div class="col-12">
                        <h1>Dropzone Configuration</h1>
        <form action="/updatedz?dropzone={{dropzone.key.id()}}" method="post">
            <div class="form-group row">
                <label for="dropzone_name" class="col-4 col-form-label">
                    Dropzone Name
                </label>
                <div class="col-8">
                    <input id="dropzone_name" name="dropzone_name" type="text"
                           required="required"
                           class="form-control here" value="{{dropzone.name}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropzone_tag" class="col-4 col-form-label">
                    Dropzone Tag Line
                </label>
                <div class="col-8">
                    <input id="dropzone_tag" name="dropzone_tag" type="text" class="form-control here"
                           value="{{dropzone.tag}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="default_slot_number" class="col-4 col-form-label">Default Slot Number per
                    load
                </label>
                <div class="col-8">
                    <div class="input-group">
                        <input id="default_slot_number" name="default_slot_number"
                               value="{{dropzone.default_slot_number}}" type="text" required="required"
                               class="form-control here">
                        <div class="input-group-append">
                                        <span class="input-group-text">
                                            slots per load
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="default_load_number" class="col-4 col-form-label">Autocreate Loads</label>
                <div class="col-8">
                    <div class="input-group">
                        <input id="default_load_number" name="default_load_number"
                               value="{{dropzone.default_load_number}}" type="text"
                               aria-describedby="default_load_numberHelpBlock" class="form-control here">
                        <div class="input-group-append">
                                            <span class="input-group-text">
                                              Loads
                                            </span>
                        </div>
                    </div>
                    <span id="default_load_numberHelpBlock" class="form-text text-muted">Number of loads to auto create at the start of the day.</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="default_load_time" class="col-4 col-form-label">
                    Load Cycletime
                </label>
                <div class="col-8">
                    <div class="input-group">
                        <input id="default_load_time" name="default_load_time"
                               value="{{dropzone.default_load_time}}" type="text"
                               aria-describedby="default_load_timeHelpBlock" class="form-control here">
                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                minutes
                                            </span>
                        </div>
                    </div>
                    <span id="default_load_timeHelpBlock"
                          class="form-text text-muted">Time interval between loads</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
                    </div>
                </div>
{% endblock %}
{% endif %}