{% extends "twolist.html" %}
{% block title %}
Manage Jumpers
{% endblock %}

{% block sidebar%}
<button class="list-group-item list-group-item-action active" id="new_jumper" data-toggle="popover"
        data-html="true" type="button" aria-controls="dz" title="Register a New Jumper"
        data-content='
                                    <form action="/jumpers" method="get">
                                    <input type="hidden" name="dropzone" value="{{dropzone.key.id()}}">
                                    <input type="hidden" name="action" value="add">
                                    <div class="form-group row>
                                              <label for="email" class="col-4 col-for-label">
                                                 email
                                               </label>
                                               <div class="input-group">
                                                <input id="email" name="email" type="text" class="form-control col-4" required="required" }}">
                                              <span class="input-group-append col-4">
                                                <span class="input-group-text">
                                                    @gmail.com
                                                </span>
                                              </span>
                                              </div>
                                         </div>
                                    </div>
                                    <div class="form-group row">
                                            <div class="offset-4 col-8">
                                              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                    </div>
                            </form>'>
    New Jumper
</button>
{% endblock %}

{% block list_group %}
{% for jumper_mega in jumpers %}
{% set jumper = jumper_mega[0] %}
{% set registration = jumper_mega[1] %}
<a class="list-group-item list-group-item-action {% if loop.index == 1 %} active {% endif%} "
                           id="list-{{jumper.key.id()}}-list" data-toggle="list" href="#list-{{jumper.key.id()}}"
                           role="tab" aria-controls="{{jumper.key.id()}}">
    <div class="row">
        <div class="col justify-content-left">
            <h6 class="card-title">
                {{jumper.name}}
            </h6>
        </div>
        <div class="col nowrap justify-content-right">
            <span class="badge {{registration_colours[registration.current][0]}} {{ registration_colours[registration.current][1]}} p-1 "> {{registration_status[registration.current]}}</span>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}

{% block tab_content %}
{% for jumper_mega in jumpers %}
{% set jumper = jumper_mega[0] %}
{% set registration = jumper_mega[1] %}
<div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}"
     id="list-{{jumper.key.id()}}" role="tabpanel"
     aria-labelledby="list-{{jumper.key.id()}}-list">
    <form action="/jumpers" id="form-{{jumper.key.id()}}">
        <input type="hidden" name="dropzone" value="{{dropzone.key.id()}}"/>
        <input type="hidden" name="jumper" value="{{jumper.key.id()}}"/>
        <input type="hidden" name="action" value="update"/>
        <div class="form-group row">
            <label for="name" class="col-4 col-form-label">Jumper Name</label>
            <div class="col-8">
                <input id="name" name="name" type="text" required="required"
                                               class="form-control here" value="{{jumper.name}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-4 col-form-label">Jumper email</label>
            <div class="col-8">
                <div class="input-group">
                    <input id="email" name="email" type="text" class="form-control here"
                           required="required" value='{{jumper.email|replace("@gmail.com","")}}' disabled>
                    <div class="input-group-append">
                                    <span class="input-group-text primary ">
                                        @gmail.com
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group date" id='datetimepicker{{jumper.key.id()}}1'
                                     data-date-format="dd-mm-yy">
            <label for="waiver" class="col-4 col-form-label">Waiver Expiry</label>
            <div class="col-8">
                <input id="waiver" name="waiver" type="text" class="form-control"
                       value='{{registration.waiver.strftime("%d/%m/%y")}}'
                       required="required">
                <script type="text/javascript"> $(function () {
                                            $('#datetimepicker{{jumper.key.id()}}').datetimepicker();
                                        });</script>
                <div class="input-group-append">
                    <i class="fa fa-calendar"></i>

                </div>
            </div>
        </div>
        <div class="input-group date" id='datetimepicker{{jumper.key.id()}}2'
                                     data-date-format="dd-mm-yy">
            <label for="reserve" class="col-4 col-form-label">Reserve Expiry</label>
            <div class="col-8">
                <input id="reserve" name="reserve" type="text" class="form-control"
                       required="required" value='{{registration.reserve.strftime("%d/%m/%y")}}'>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4">Currency</label>
            <div class="col-8">
                <div class="radio active">
                    <label><input type="radio" name="current" value="0">
                        <span class="p-3"> Current </span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="current" value="1">
                        <span class="p-3"> Not Current </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" form="form-{{jumper.key.id()}}" type="submit"
                                                class="btn btn-primary">Submit
                </button>
                <button name="delete" type="submit" class="btn btn-warning" value="yes">Delete
                </button>
            </div>
        </div>
    </form>
</div>
{%endfor%}
{% endblock %}
