<!doctype html>
<html lang="en">
  <head>
      <title>Jump MainPage </title>
    {% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <a  class="list-group-item list-group-item-action"href="/loadaction?dropzone={{dropzone.key.id()}}&load=-1&action=add" role="button"> Add a Load</a>
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

            <h1>Todays Manifest</h1>
        </main>
      </div>
    </div>







{% include 'scripts.html' %}