{% extends "template.html" %}
{% block title %}
Jump Kiosk Page
{% endblock %}

{% block script %}
{% include 'scripts.html' %}
<meta http-equiv="refresh" content="10"/>

<script type="text/javascript">

    var slice={;{slice}}

    $.fn.infiniteScrollUp = function () {
        var self = this, kids = self.children();
        if (kids.length > slice)
        {kids.slice(slice).hide();
            setInterval(function () {
                var show_this = kids.filter(':hidden').eq(0);
                show_this.show();
                kids.eq(0).hide();
                kids.eq(0).appendTo(self);
                kids = self.children()
            }, 3000);
        }
    return this;
    };
    //{% for i in range(load_len) %}
    $(function () {
        $('#scroll{{i}}').infiniteScrollUp()
    });
    //{% endfor %}
</script>
{% endblock %}

{% block navbar_right %}
{% endblock %}

{% block sidebar_exist %}
{% endblock %}

{% block main_exist %}

    {% for i in range(load_len) %}
              <div class="col">
                  {% set load = next_loads[i] %}
                  {% set slots = slot_mega[load.key.id()] %}
                  <div class="card">
                      <div class="card-body bg-primary text-white">
                          <h5 class="card-title">Load Number {{load.number}}</h5>
                          <h5 class="card-subtitle mb-2 ">Time {{load.time.strftime("%H:%M")}} </h5>
                          <p class="card-text"><span
                                  class=" badge {{load_colours[load.status][0]}} {{load_colours[load.status][1]}} p-1">Status : {{load_status[load.status]}}</span>
                          </p>
                          <p class="card-text"> Free Slots : {{ slotsize[load.key.id()] }}</p>
                      </div>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                          <tr class="row justify-content-between">
                              <th scope="col"></th>
                          </tr>
                          </thead>
                          <tbody id="scroll{{i}}">

                          {% for slot in slots %}
                          <tr>
                              <td>
                                  <div class="card">
                                      <div class="card-body bg-">
                                          <h5 class="card-title">
                                              <div class="row">
                                                  <div class="col">
                                                      {{loop.index}}
                                                  </div>
                                                  <div class="col">
                                                      {{slot.name}}
                                                  </div>
                                              </div>
                                          </h5>
                                      </div>
                                  </div>
                              </td>

                          </tr>

                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
    {% endfor %}

{% endblock %}