<!doctype html>
<html lang="en">
  <head>
    <title>Load Management </title>
    {% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <a  class="list-group-item list-group-item-action bg-primary text-white"href="/loadaction?dropzone={{dropzone.key.id()}}&load=-1&action=add" role="button"> Add a Load</a>
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

            <h1>Today's Manifest</h1>
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% for load in loads %}

                            <a class="list-group-item list-group-item-action {% if loop.index == 1 %} active {% endif%} " id="list-{{load.number}}-list" data-toggle="list" href="#list-{{load.number}}" role="tab" aria-controls="{{load.number}}">


                                        <div class="row justify-content-between">
                                            <div class="col-4 justify-content-centre">
                                                <h6 class="card-title">
                                                    {{load.number}}
                                                </h6>

                                            </div>
                                            <div class="col-8 justify-content-end">
                                                <h6 class="card-title">
                                                    Time {{load.time.strftime("%H:%M")}}
                                                </h6>
                                                <p class="card-text">{{load_status[load.status]}}</p>
                                            </div>
                                        </div>
                            </a>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="MenuButton{{load.number}}">
                                    <a class="dropdown-item" href="/loadaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=takeoff">Take Off</a>
                                    <a class="dropdown-item" href="/loadaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=landed">Landed</a>
                                    <a class="dropdown-item" href="/loadaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=hold">Hold Load</a>
                                    <a class="dropdown-item" href="/loadaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=delete">Delete</a>
                                    <a class="dropdown-item" href="/manifest?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}">Manifest</a>
                                </div>
                            </div>
                            {% if load.status in (0,2) %}
                            <a role="button" class="btn btn-secondary"
                               href="/retime?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=5">+5</a>
                            <a role="button" class="btn btn-secondary"
                               href="/retime?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=10">+10</a>
                            <button type="button" class="btn btn-secondary" data-html='true' data-toggle="popover"
                                    title="Set Load Time" data-content='
                            <form action="/retime?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&action=select" method="get">
                              <div class="form-group row">
                                <div class="col">
                                  <div class="input-group">
                                    <div class="input-group-addon">Hours</div>
                                    <input id="hours" name="hours" type="text" class="form-control here" required="required" value="{{load.time.strftime("%H")}}">
                                  </div>
                                </div>
                                :
                                <div class="col">
                                  <div class="input-group">
                                    <input id="mins" name="mins" type="text" required="required" class="form-control here" value="{{load.time.strftime("%M")}}">
                                    <div class="input-group-addon append">Mins</div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                                </div>
                              </div>
                            </form>'>...
                            </button>
                            {% endif %}
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        {% for load in loads %}
                            <div class="tab-pane fade {% if loop.index == 1 %} show active {% endif%}" id="list-{{load.number}}"role="tabpanel" aria-labelledby="list-{{load.number}}-list">

                                {% set slots = slot_mega[load.key.id()] %}
                                <div class="card">
                                    <div class="card-body bg-primary text-white">
                                        <div class="row justify-content-between">
                                        <div class="col-4">
                                            <h6 class="card-title">Load Number {{load.number}}</h6>
                                            <p class="card-text"> Status : {{load_status[load.status]}}</p>
                                        </div>
                                            <div class="col-4">
                                            <h6 class="card-title"> Time {{load.time.strftime("%H:%M")}} </h6>
                                            <p class="card-text"> Free Slots : {{ slotsize[load.key.id()] }}</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">

                                {% for slot in slots %}
                                     <li class="list-group-item">
                                    <div class="row justify-content-between">
                                        <div class="col-4">
                                            <div class="card">
                                                <div class="card-body bg-">
                                                    <h5 class="card-title">
                                                        {{slot.name}}
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="="col-4>
                                            <a class="btn btn-outline-primary" href="/manifestaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&jumper={{slot.key.id()}}&action=details" role="button">View Details</a>
                                            <a class="btn btn-outline-warning" href="/manifestaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&jumper={{slot.key.id()}}&action=delete" role="button">Remove</a>
                                        </div>
                                    </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                    </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
      </div>
    </div>







{% include 'scripts.html' %}