{% extends "template.html" %}

{% if dropzone.status != -1 %}
{% block navbar_left %}
            <ul class="navbar-nav">
            <li class="nav-item {% if active == 0 %}active {% endif %}">
                <a class="nav-link" href="/manage">Home</a>
            </li>
            {% if dropzone.status != -1 %}
            <li class="nav-item {% if active == 1 %}active {% endif %}">
                <a class="nav-link" href="/loads?dropzone={{dropzone.key.id()}}">Loads</a>
            </li>
            <li class="nav-item {% if active == 2 %}active {% endif %}">
                <a class="nav-link" href="/sales?dropzone={{dropzone.key.id()}}">Sales</a>
            </li>
            <li class="nav-item {% if active == 3 %}active {% endif %}">
                <a class="nav-link" href="/jumpers?dropzone={{dropzone.key.id()}}">Jumpers</a>
            </li>
            <li class="nav-item {% if active == 4 %}active {% endif %}">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" role="button" id="ConfigMenuButton" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Configure
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ConfigMenuButton">
                        <a class="dropdown-item" href="/configdz?dropzone={{dropzone.key.id()}}&action=dz">Dropzone
                            Config</a>
                        <a class="dropdown-item" href="/configdz?dropzone={{dropzone.key.id()}}&action=user">User
                            Config</a>
                        <a class="dropdown-item" href="/configdz?dropzone={{dropzone.key.id()}}&action=sales">Sales
                            Config</a>
                        <a class="dropdown-item" href="/configdz?dropzone={{dropzone.key.id()}}&action=kiosk">Kiosk
                            Config</a>
                    </div>
                </div>
            </li>
            {% endif %}
            <li class="nav-item {% if active == 3 %}active {% endif %}">
                <a class="nav-link" href="/help">Help</a>
            </li>
        </ul>
{% endblock %}}
{% endif %}}

