<!doctype html>
<html lang="en">
  <head>
    <title>Manifest </title>
    {% include 'navbar.html' %}


      <div class="container-fluid" style="margin-top:80px">
         <div class="row flex-xl-nowrap">
             <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                 <div class="btn-group dropright">
                     <div class="btn-group dropright">
                        <button type="button" class="btn btn-primary">
                            Add Jumper
                        </button>
                         <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropright</span>
                         </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for jumper in jumpers %}
                            <a class="dropdown-item" href="/manifestaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&jumper={{jumper.key.id()}}&action=add">{{jumper.name}}</a>
                        {% endfor %}
                        </div>
                     </div>
                 </div>
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                    {% set slots = slot_mega[load.key.id()] %}
                <div class="card">
                    <div class="card-body bg-primary text-white">
                     <h5 class="card-title">Load Number {{load.number}}</h5>
                     <h5 class="card-subtitle mb-2 ">Time {{load.time.strftime("%H:%M")}} </h5>
                        <p class="card-text"> Status : {{load_status[load.status]}}</p>
                        <p class="card-text"> Free Slots : {{ slotsize[load.key.id()] }}</p>
                    </div>
                </div>
                <div class="table-responsive">
                 <table class="table table-hover" >
                     <thead>
                        <tr class="row justify-content-between">
                            <th scope="col-4"></th>
                            <th scope="col-4"></th>
                        </tr>
                      </thead>
                    <tbody id="scroll-table">

                    {% for slot in slots %}
                            <tr>
                                <td>
                                    <div class="card">
                                        <div class="card-body bg-">
                                            <h5 class="card-title">
                                                <div class="row">
                                                    <div class="col">
                                                        {{loop.index}}
                                                    </div>
                                                    <div class="col">
                                                         {{slot.name}}
                                                    </div>
                                                </div>
                                            </h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary" href="/manifestaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&jumper={{slot.key.id()}}&action=details" role="button">View Details</a>
                                    <a class="btn btn-outline-warning" href="/manifestaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&jumper={{slot.key.id()}}&action=delete" role="button">Remove</a>

                                </td>
                            </tr>

                    {% endfor %}
                </tbody>
                </table>
                </div>

            </main>
         </div>
      </div>



{% include 'scripts.html' %}