


{% set slots = slot_mega[load.key.id()] %}
<div class="card">
    <div class="card-body bg-primary text-white">
        <h5 class="card-title">Load Number {{load.number}}</h5>
        <h5 class="card-subtitle mb-2 ">Time {{load.time.strftime("%H:%M")}} </h5>
        <p class="card-text">  <span
                class=" badge {{load_colours[load.status][0]}} {{load_colours[load.status][1]}} p-1"> Status : {{load_status[load.status]}}</span>
        </p>
        <p class="card-text"> Free Slots : {{ slotsize[load.key.id()] }}</p>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="row justify-content-between">
            <th scope="col-4"></th>
            <th scope="col-4"></th>
        </tr>
        </thead>
        <tbody id="scroll-table">
                    {% for slot in slots %}
                    <tr>
                        <td>
                            <div class="card">
                                <div class="card-body bg-">
                                    <h5 class="card-title">
                                        <div class="row">
                                            <div class="col">
                                                {{loop.index}}
                                            </div>
                                            <div class="col">
                                                {{slot.name}}
                                            </div>
                                        </div>
                                    </h5>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group dropright">

                                    <button type="button" class="btn btn-primary">
                                        Change Package
                                    </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropright</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for key, sale in sales.iteritems() %}
                                        <a class="dropdown-item"
                                           onclick="main_post('/manifestaction?dropzone={{dropzone.key.id()}}&jumper={{slot.key.id()}}&to_sale={{key}}&action=change_sale')">{{sale.name}}</a>
                                        {% endfor %}
                                    </div>

                            </div>

                            <a class="btn btn-outline-warning"
                               onclick="main_post('/manifestaction?dropzone={{dropzone.key.id()}}&load={{load.key.id()}}&jumper={{slot.key.id()}}&action=delete')"
                               role="button">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
</div>

{% if message %}
{% include "modal.html" %}
{% endif %}
