<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- [START css] -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <!-- [END css] -->

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">Jump DZM</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
          {% if dropzone.status != -1 %}
        <ul class="navbar-nav">
            <li class="nav-item {% if active == 0 %}active {% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% if active == 1 %}active {% endif %}">
                <a class="nav-link" href="/loads?dropzone={{dropzone.key.id()}}">Loads</a>
            </li>
            <li class="nav-item {% if active == 2 %}active {% endif %}">
                <a class="nav-link" href="/sales?dropzone={{dropzone.key.id()}}">Sales</a>
            </li>
            <li class="nav-item {% if active == 3 %}active {% endif %}">
                <a class="nav-link" href="/jumpers?dropzone={{dropzone.key.id()}}">Jumpers</a>
            </li>
            <li class="nav-item {% if active == 4 %}active {% endif %}">
                <a class="nav-link" href="/configdz?dropzone={{dropzone.key.id()}}">Configure</a>
            </li>
        </ul>
          {% endif %}
    </div>
    {% set user = user_data['user'] %}{% if dropzone.status != -1 %}

    <span class="navbar-brand pr-5">
                   {{dropzone.name}}
                  </span>

    <span class="navbar-brand {% if dropzone.status == 0 %}text-success {% else %}text-warning {% endif %} pr-5 ">
                  {{dropzone_status[dropzone.status]}}
                </span>

    {% endif %}
    <ul class="nav navbar-nav navbar-right">

        {% if user %}
        <li>
            <img class="img-thumbnail" src="
                  https://www.googleapis.com/admin/directory/v1/users/{{user.email()}}/photos/thumbnail
                  ">
            {% endif %}
            <a class="btn btn-primary" href="{{ user_data['url']|safe }}" role="button"> {{ user_data['url_linktext']
                }}</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

{% include 'modal.html' %}