{% extends "template.html" %}

{% block navbar_right %}
      {% set user = user_data['user'] %}
      <ul class="nav navbar-nav navbar-right">
          <li>
              {% if user %}
              <img class="m-0 p-0" id="thumbnail" height="30" width="30" src="">
              {% endif %}
              <a class="btn btn-primary" href="{{ user_data['url']|safe }}" role="button"> {{
                  user_data['url_linktext']}}</a>
          </li>
      </ul>
{% endblock %}


{% block script %}
{% include 'scripts.html' %}
<script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
            google_init()
        })
    </script>
{% endblock %}
