<!doctype html>
<html lang="en">
  <head>
      <title>{% block title %}JUMP DZM {% endblock %}</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- [START css] -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/custom/bootstrap-datetimepicker.min.css"
      {% block css %}{% endblock %}
      <!-- [END css] -->


  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

      <div class="navbar-header">
          {% block brand %}
          <a class="navbar-brand" href="/">Jump DZM</a>
          {% endblock %}
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
          {% block navbar_left %}{% endblock %}
      </div>
      {% block navbar_centre %}
      {% if dropzone.status != -1 %}
      <span class="navbar-brand pr-5">
            {{dropzone.name}} - {{dropzone.tag}}
        </span>
      <span class="badge {% if dropzone.status == 0 %}badge-success {% else %}badge-warning {% endif %} pr-5">
            {{dropzone_status[dropzone.status]}}
        </span>
      {% endif %}
      {% endblock %}
      </div>
      {% block navbar_right %}
      {% endblock %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
  {% if message %}
  {% include 'modal.html' %}
  {% endif %}

      <div class="container-fluid" style="margin-top:80px">
          <div class="row flex-xl-nowrap">
              {% block sidebar_exist %}
              <div class="col-3  bd-sidebar" data-spy="affix" data-offset-top="205">
                  <div class="list-group">
                      {% block sidebar %}{% endblock %}
                  </div>
              </div>
              {% endblock %}
              {% block main_exist %}
              <main class="col-9 m-0">
                  {% block main %}{% endblock %}
              </main>
              {% endblock %}
          </div>
      </div>
  </body>
  {% block script %} {% endblock %}
</html>